*,*::after,*::before{
    margin: 0;
}
.nav{
    width: 100%;
    display: flex;
    padding: 10px 10px;
    border-bottom: 1px solid;
}
.nav-desktop{
    display: none;
}
.left-nav{
    width: 60%;
    padding-left: 10px;
}
.left-nav img{
    width: 60%;
}
.right-nav{
    width: 40%;
    display: flex;
    
}
.search{
    width: 50%;
}
.icon{
    width: 50%;
}

.search img{
    width: 30%;
    padding-top: 7px;
}
i{
    padding-top: 10px;
}
.menuitems{
    width: 60%;
    background-color:white;
    margin: 0 auto;
}
.python{
    padding: 10px 10px;
    border: 1px solid;
}
a{
    text-decoration: none;
    color: black;
}
.hidden{
    display: none;
}
@media screen and (min-width: 600px) {
    .mobile-nav {display: none;}
        /* Desktop Nav Bar */
        .nav-desktop{
            background-color: white;
            display: flex;
            border-bottom: 1px solid;
        }
        .left{
            width: 25%;
            padding-left: 10px;
        }
        .left img{
            width: 80%;
            margin-top: 10px;
        }
        .right{
            width: 70%;
            margin-top: 15px;
        }
        .right a{
            color: black;
            text-decoration: none;
            padding-left:10px ;
            font-size: large;
     }

}